<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NISOrderModelContext" connectionString="user id=db_yuan;data source=192.168.25.98;password=p_nis_data;persist security info=True;initial catalog =NISReg; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>